<!-- import file for head -->
<%- include('partials/head') %>

    <!-- import file for navbar -->
    <%- include('partials/navbar') %>

        <div class="container">
            <h1>The Home Page</h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia praesentium cupiditate nobis totam
                nostrum. Beatae
                totam debitis maxime. Provident sunt modi, ipsa, expedita maiores facere minus at, aliquid quidem
                mollitia
                aspernatur consequatur quod architecto velit sit nam blanditiis rerum perferendis pariatur. Est
                iusto
                laborum
                rerum molestiae doloremque ullam, quae eveniet?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque doloribus inventore amet nulla
                fugit
                ratione
                ea velit debitis minima enim.</p>

        </div>

        <%- include('partials/footer') %>