<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>
    <h4>Make a New Comment</h4>

    <form action="/comments" method="post">
        <section>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="enter username" id="username">
        </section>
        <section>
            <label for="comment">New Comment</label>
            <br>
            <textarea name="comment" cols="30" rows="5" id="comment"></textarea>
        </section>
        <button>Submit</button>
    </form>


</body>

</html>