<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        ul {
            display: flex;
            text-wrap: inherit;
        }

        ul li {
            list-style: none;
            word-spacing: 4px;
            letter-spacing: 4px;
            background-color: cadetblue;
            color: #fff;
        }
    </style>
</head>

<body>


    <h2>Working on MySelf </h2>
    <ul>
        <li>Coding+</li>
        <li>Trading</li>
        <li>=Billionaire</li>
    </ul>
</body>

</html>