<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found Data</title>
</head>

<body>

    <div class="container">
        <!-- <h2>I'm sorry, we couldn't find the '<%= value.toUpperCase() %>'</h2> -->
        <script>
            alert("We're sorry, <%=value.toUpperCase()%> search result not available    ")
        </script>
    </div>
</body>

</html>