<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h2>Hello Adventures, Welcome to YelpCamp</h2>

    <h4>Click Here and Get Adventures Sites</h4>
    <a href="/campground"><button> >HERE! </button></a>
</body>

</html>